<mat-sidenav-container class="dash-container">
  <mat-sidenav [mode]="'side'" [opened]="drawerOpen()" class="dash-sidenav">
    <div class="sidenav-header">
      <div class="brand">di<span class="dot">:</span>sh</div>
      <div class="subtitle">Tasks</div>
    </div>
    <mat-nav-list>
      <a mat-list-item href="javascript:void(0)">All Tasks</a>
      <a mat-list-item href="javascript:void(0)">My Tasks</a>
      <a mat-list-item href="javascript:void(0)">Completed</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="dash-toolbar">
      <button mat-icon-button (click)="drawerOpen.set(!drawerOpen())" aria-label="Toggle menu">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="title">Dashboard</span>
      <span class="spacer"></span>
      <a class="link" href="/login">Login</a>
    </mat-toolbar>

    <div class="dash-content">
      <task-filters></task-filters>
      <task-list (taskSelected)="onTaskSelected($event)"></task-list>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
