<div class="filters">
  <mat-form-field appearance="outline">
    <mat-label>Search</mat-label>
    <input matInput placeholder="Title or description" formControlName="text" [formGroup]="form">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Status</mat-label>
    <mat-select formControlName="status" [formGroup]="form">
      <mat-option value="">All</mat-option>
      <mat-option value="open">Open</mat-option>
      <mat-option value="in_progress">In progress</mat-option>
      <mat-option value="done">Done</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Due from</mat-label>
    <input matInput [matDatepicker]="pickerFrom" formControlName="dueFrom" [formGroup]="form">
    <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
    <mat-datepicker #pickerFrom></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Due to</mat-label>
    <input matInput [matDatepicker]="pickerTo" formControlName="dueTo" [formGroup]="form">
    <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
    <mat-datepicker #pickerTo></mat-datepicker>
  </mat-form-field>

  <span class="spacer"></span>

  <button mat-stroked-button type="button">
    <mat-icon>filter_alt</mat-icon>
    Apply
  </button>
</div>
